<div
  class="p-4 rounded-xl bg-mediumGrey transition-all"
  [ngClass]="showSidebar ? 'w-[20rem] h-full' : 'w-[3.2rem]'"
>
  <div class="flex justify-between">
    <h1
      class="text-2xl font-bold text-fontBlack"
      [ngClass]="showSidebar ? '' : 'hidden'"
    >
      Menu
    </h1>
    <button class="px-2 py-1" (click)="toggleSidebar()">
      <i
        class="pi pi-bars"
        style="color: #7c7c7c; font-size: 1.2rem; font-weight: bold"
      ></i>
    </button>
  </div>
  <div class="pl-2 pt-4" [ngClass]="showSidebar ? '' : 'hidden'">
    <p class="text-sm font-bold">TASKS</p>
    <div class="my-2">
      <app-menu-option
        [icon]="'pi pi-angle-double-right'"
        [label]="'Upcoming'"
        [navigate]="'/upcoming'"
      />
      <app-menu-option
        [icon]="'pi pi-list'"
        [label]="'Today'"
        [navigate]="'/'"
      />
      <app-menu-option [icon]="'pi pi-calendar'" [label]="'Calendar'" />
      <app-menu-option [icon]="'pi pi-clone'" [label]="'Sticky Wall'" />
    </div>
  </div>

  <div class="pl-2 pt-4" [ngClass]="showSidebar ? '' : 'hidden'">
    <p class="text-sm font-bold">LISTS</p>
    <div class="my-2">
      <app-menu-option
        [icon]="'pi pi-angle-double-right'"
        [label]="'Personal'"
        [navigate]="'/upcoming'"
      />
      <app-menu-option
        [icon]="'pi pi-list'"
        [label]="'Personal'"
        [navigate]="'/'"
      />
      <app-menu-option
        [icon]="'pi pi-list'"
        [label]="'Work'"
        [navigate]="'/'"
      />
    </div>
  </div>
</div>
