<div class="w-full h-full p-6 border-2">
  <app-title [label]="'Upcoming'" />
  <div class="">
    <div class="w-full border-2 h-2/5">
      <app-title [label]="'Today'" />
      <app-add-task-button />
      <app-task />
      <app-task />
    </div>
    <div class="flex w-full gap-4 h-2/5">
      <div class="w-full border-2">
        <app-title [label]="'Tomorrow'" />
        <app-add-task-button />
        <app-task />
        <app-task />
      </div>
      <div class="w-full border-2">
        <app-title [label]="'This Week'" />
        <app-add-task-button />
        <app-task />
        <app-task />
      </div>
    </div>
  </div>
</div>
