<div class="w-full h-full p-6">
  <app-title [label]="'Upcoming'" />
  <div style="height: calc(100% - 57px)" class="flex flex-col justify-between">
    <div class="w-full h-[48%] border-2 border-backgroundGrey rounded-xl p-4">
      <app-title [label]="'Today'" [titleSize]="'small'" />
      <app-add-task-button />
      <app-task />
      <app-task />
    </div>
    <div
      class="flex w-full gap-4 h-[48%] border-2 border-backgroundGrey rounded-xl p-4"
    >
      <div class="w-full">
        <app-title [label]="'Tomorrow'" [titleSize]="'small'" />
        <app-add-task-button />
        <app-task />
        <app-task />
      </div>
      <div class="w-full">
        <app-title [label]="'This Week'" [titleSize]="'small'" />
        <app-add-task-button />
        <app-task />
        <app-task />
      </div>
    </div>
  </div>
</div>
